@import '~@angular/material/core/theming/all-theme';

// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include md-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$rcv-app-primary: md-palette($md-deep-purple);
$rcv-app-accent: md-palette($md-orange, 400, 200, 700);

// The warn palette is optional (defaults to red).
$rcv-app-warn: md-palette($md-red, 400, 200, 600);

// Create the theme object (a Sass map containing all of the palettes).
$rcv-app-theme: md-light-theme($rcv-app-primary, $rcv-app-accent, $rcv-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($rcv-app-theme);

$app-background: md-color($md-grey, 100);
$app-foreground: md-contrast($md-grey, 100);

$light-grey-border: md-color($md-grey, 400);
$dark-grey-border: md-color($md-grey, 700);

$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
