@import "../../../../../assets/style/all";

:host {
  @include flex(column);
  transform-origin: 0;
  transition: 150ms ease-out width;
  z-index: 1;
  color: md-contrast($md-grey, 700);

  &.high {
    z-index: 2;
  }

  .detail {
    flex: 0 0 auto;
    text-align: center;
    white-space: nowrap;
    overflow-x: visible;

    &.first-choice {
      text-align: right;
      margin-right: 10px;
    }

    .source {
    }

  }

  .count {
    transition: 150ms linear opacity;
  }

  .rect {
    transform-origin: 0;
    //  transition: 150ms ease-out all;
    flex: 1 1 100%;
  }

}
